proc               /proc    proc   defaults                                                   0 0
UUID=${BOOT_UUID}  /${BOOT_DIR}    vfat    defaults,errors=remount-ro,rw,owner,flush,umask=000       0 2
UUID=${ROOT_UUID}  /        ext4    errors=remount-ro,rw,noatime,nodiratime                   0 1
tmpfs              /tmp     tmpfs   nodev,nosuid,mode=1777                                    0 0
