# this file is only an example and does not work on RPi due to missing time
[Unit]
Description=Check and regenerate SSH host keys
DefaultDependencies=no
Before=sshd.service
ConditionPathExistsGlob=!/etc/ssh/ssh_host_*_key

[Service]
Type=simple
ExecStart=/usr/bin/ssh-keygen -A
ExecAfterStart=/bin/sleep 15; service sshd restart

[Install]
WantedBy=multi-user.target

